{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container margin-view-all header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>




{% endblock %}



{% block sorting_banner %}

<div class="text-center row">
    <div id="sort-banner" class="col">
        <div class="clothes-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper ws-75 wm-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-white mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="text-white"><a class="text-white" href="{% url 'clothes' %}">Clothes Home</a>
                            | </span>
                        {% endif %}
                        {{ clothes|length }} Items{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row">

    {% for item in page_obj %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">

        <div class="card border-0" style="width: 18rem;">

            {% if item.image %}

            <a href="{% url 'item_details' item.id %}">
                <img src="{{ item.image.url }}" class="card-img-top position-relative" alt="{{ item.name }}">
            </a>

            {% else %}
            <a href="{% url 'item_details' item.id %}">
                <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top position-relative" alt="{{ item.name }}">
            </a>

            {% endif %}

            {% if user.is_authenticated %}
            {% if item in request.user.wishlist.all %}
            <div id="wishlist-{{ item.id }}" class="position-absolute rounded-circle bg-white p-1 mt-1 ml-1">
                <a href="{% url 'toggle_wishlist' item.id %}"><i class="fa-fire fas fa-heart fa-2x"
                        title="Remove from wishlist"></i></a>
            </div>
            {% else %}
            <div id="wishlist-{{ item.id }}" class="position-absolute rounded-circle bg-white p-1 mt-1 ml-1">
                <a class="text-dark" href="{% url 'toggle_wishlist' item.id %}"><i
                        class="far fa-heart fa-2x align-items-center" title="Add to wishlist"></i></a>
            </div>
            {% endif %}
            {% endif %}
            
            <div class="card-body p-0">
                <p class="card-text text-wrap mt-1">{{ item.name }}</p>
                {% if item.sale %}
                <p class="card-text font-weight-bold mb-2"><del>${{ item.price }}</del> <span class="bg-warning"> ON
                        SALE {{ item.sale.percent_off|floatformat:0 }}% OFF</span> ${{ item.sale.sale_price }}</p>
                {% else %}
                <p class="card-text font-weight-bold mb-2">${{ item.price }}</p>
                {% endif %}
            </div>
            {% if request.user.is_superuser %}
            <small class="mb-3 p-0">
                <a class="text-dark" href="{% url 'edit_item' item.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_item' item.id %}">Delete</a>
            </small>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>

<div class="pagination d-flex justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="text-black" href="?page=1">&laquo; first</a>
        <a class="text-black" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a class="text-black" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="text-black" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'clothes/includes/update-remove-script.html' %}
<script src="{% static 'clothes/js/sort-elements-script.js' %}"></script>

{% endblock %}