{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="header-margin container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="mb-4 d-flex text-black">Product Management</h2>
            <h5 class="text-muted">Edit a Product</h5>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_item' item.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <div class="text-right">
                    <a class="btn btn-danger rounded-0" href="{% url 'clothes' %}">Cancel</a>
                    <button class="btn btn-success rounded-0" type="submit">Update Item</button>
                </div>
            </form>
        </div>            
    </div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'clothes/js/image-change.js' %}"></script>
{% endblock %}

