{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="hero-image" class="">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="text-center col-12">
                <h2 id="summer-fashions-text" class="p-3 text-black bg-light">
                    Summer Fashions
                </h2>
                <div class="mt-5">
                    <h4>
                        <a href="{% url 'clothes' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase bg-light">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}