{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="hero-image" class="position-relative">
    <div class="container">
        <div class="row align-self-center">
                <div class="col-12 col-md-6">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <div>
                            <h1 class="border bg-white display-5 logo-font text-black p-2">
                                The Summer Look
                            </h1>
                        </div>
                        <div class="my-5 text-center">
                            <h4>
                                <a href=""
                                    class="display-2 border bg-white shop-now-button btn btn-lg rounded-0 text-uppercase">Shop
                                    Now</a>
                            </h4>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
{% endblock %}