<script>

    // Update Sale Details


    $('#update-discount').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('data-item_id');
        var discount = $('#discount').val();
        var url = `/clothes/update/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'discount': discount
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>