html{
    height:100vh;
}
body {
    color: #555;
    font-family: 'Arimo', sans-serif;
}


#hero-image {
    background: url('/media/Hero-Image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
}