html{
    height:100vh;
}
body {
    color: #555;
    font-family: 'Arimo', sans-serif;
}


#hero-image {
    background: url('/media/Hero-Image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.clothes-images{
    margin-top: 13rem;
}

div.dropdown-multicol2{
    width: 30em;
  }

div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
    width: 32%;
  }