html{
    height:100vh;
}
body {
    color: #555;
    font-family: 'Arimo', sans-serif;
}


#hero-image {
    background: url('/media/Hero-Image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #EEEEEE;
	z-index: -1;
}

.clothes-images{
    margin-top: 16rem;
}

div.dropdown-multicol2{
    width: 30em;
  }

div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
    width: 32%;
  }

.fa-fire{
    color:#f21137   ;
}

#topnav{
    background-color: #2d2d2d!important;
}

#search-button{
    margin-left:-50px;
}

#topnav ul i{
    font-size: 2rem;
}

header ul{
    margin:auto;
}

#sort-banner{
    background-color:#525050;
}

#delivery-banner{
    background-color: black    ;
}


#mobile-buttons{
    margin-right:1 rem;
    float:right;
}

#shopping-bag{
    margin-top: 9rem;
}

/* Bag Icon in Navbar */
.bag-icon{
    position: relative;
    text-align: center;
}

.bag-count {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Rounded pill classes for horizontal sides */
.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
  }
  .rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
  }
  
  /* Another classes to use */
  .rounded-t-l-0 {
    border-top-left-radius: 0 !important;
  }
  .rounded-t-r-0 {
    border-top-right-radius: 0 !important;
  }
  .rounded-b-l-0 {
    border-bottom-left-radius: 0 !important;
  }
  .rounded-b-r-0 {
    border-bottom-right-radius: 0 !important;
  }
  .rounded-x-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rounded-x-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

.bag-card{
    flex-direction: row;
}

.bag-card img {
    width: 30%;
}

.bag-total{
  background-color:  white;
  max-width:400px;
}

.bag-items{
  background-color: white;
}

.qty_input{
  width:40px;
}