<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown header-link">
            <a href="#" class="nav-link text-white mr-5" id="all-clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" aria-label="All Items">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-clothing-link">
                <a href="{% url 'clothes' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'clothes' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'clothes' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'clothes' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown header-link">
            <a href="#" class="nav-link text-white mr-5 header-link" id="clothing-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" aria-label="By category">
                By Category
            </a>
            <div class="dropdown-menu dropdown-multicol2 border-0" aria-labelledby="clothing-link">
                <div class="dropdown-col">
                    <a href="{% url 'clothes' %}?category=beachwear" class="dropdown-item">Beachwear</a>
                    <a href="{% url 'clothes' %}?category=blouse" class="dropdown-item">Blouse</a>
                    <a href="{% url 'clothes' %}?category=dress" class="dropdown-item">Dress</a>
                    <a href="{% url 'clothes' %}?category=slimfit" class="dropdown-item">Slimfit</a>
                    <a href="{% url 'clothes' %}?category=gym" class="dropdown-item">Gym</a>
                </div>
                <div class="dropdown-col">
                    <a href="{% url 'clothes' %}?category=hats" class="dropdown-item">Hats</a>
                    <a href="{% url 'clothes' %}?category=jacket" class="dropdown-item">Jackets</a>
                    <a href="{% url 'clothes' %}?category=jeans" class="dropdown-item">Jeans</a>
                    <a href="{% url 'clothes' %}?category=lingerie" class="dropdown-item">Lingerie</a>
                    <a href="{% url 'clothes' %}?category=onepiece" class="dropdown-item">One-Piece</a>
                </div>
                <div class="dropdown-col">
                    <a href="{% url 'clothes' %}?category=pants" class="dropdown-item">Pants</a>
                    <a href="{% url 'clothes' %}?category=plussize" class="dropdown-item">Plus-Size</a>
                    <a href="{% url 'clothes' %}?category=shoes" class="dropdown-item">Shoes</a>
                    <a href="{% url 'clothes' %}?category=shorts" class="dropdown-item">Shorts</a>
                    <a href="{% url 'clothes' %}?category=t-shirts" class="dropdown-item">T-Shirts</a>
                </div>

            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white mr-5" href="{% url 'clothes' %}?sale=True" aria-haspopup="true"
                aria-expanded="false">
                Sale Items
            </a>
        </li>
    </ul>
</div>